<!DOCTYPE html>
<html>
<head>
  <title>HitchhikersGuestbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless @signing_in %>
  <%= link_to 'Sign In', new_session_path %>
<% end %>
<%= yield %>

</body>
</html>
